.prevBtn,.nextBtn{
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}

.nextBtn{
    display: flex;
    justify-content: center;
    width: 174px;
    height: 46px;
    border-radius: 8px;
    background: #F67599;
    color: #ffffff;
}
.prevBtn svg{
    margin-right: 10px;
    fill:#000000;
}
.nextBtn svg{
    margin-left: 10px;
}
