.progressContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 20px 0;
}
.progressGroup {
  display: flex;
  position: relative;
}
.progressBar {
  display: block;
  height: 2px;
  width: 15%;
  background-color: #c6c1c1;
  position: absolute;
  top: 50%;
}
.left {
  left: 22.5%;
}
.right {
  right: 22.5%;
}
.onProgressBar {
  background-color: #000000;
}
.progressIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #c6c1c1;
}
.onProgressIcon {
  background-color: #000000;
  color: #ffffff;
}
.doneProgressIcon {
  background-image: url("../../assets/icon/pg-complete.svg");
  color: transparent;
}
.progressLabel {
  display: none;
  color: #c6c1c1;
}
.onProgressLabel {
  color: #000000;
}

@media screen and (min-width: 720px) {
  .progressLabel {
    display: block;
  }
  .progressBar1 {
    width: 15%;
  }

  .progressBar2 {
    width: 15%;
  }
}
